.serviceContainer{
    margin: 20px;
}
.bHeader{
    ont-weight: 600;
font-size: 34px;
line-height: 43px;
/* identical to box height, or 126% */

text-align: center;
letter-spacing: 0.396px;

color: #2D2D2D;
    
};
.spText{
    color:#7AB259
}