.hContainer{
    background-color: #FBD062;
}
.hWrapper{
    display: grid;
    grid-template-columns: 45% 55%;
}

.hHeader{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.01em;

    color: #111430;
}
.hDesc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
/* or 150% */
    letter-spacing: 0.005em;
    color: #000000;
}
.hireButton{
    width: 170px;
    height: 45px;
    background: #111430;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
.HImg{
    width: 100%;
    height: 400px;
}